/*
  Welcome to Compass. Use this file to define print styles.
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
  
@import "compass/reset"

html
  .hidden-in-print
    display: none
  body
    table, tr, td
      border: 1px solid black
    table
      width: 100%
    td
      padding: 5px
    .first
      height: 9.23cm
      border-bottom: 1px dotted black
    .second
      height: 9.28cm
      border-bottom: 1px dotted black
    .third
      height: 9.23cm
      border-bottom: 1px dotted black
    .repairOrder
      padding: 2cm
