extends layout

block content
  a(href="/") 回首頁
  h1= title
  form(action='/repair/create', method="post")
    .repairInput
      label 姓名
      input(type='text', name='customer')
    .repairInput
      label 電話
      input(type='text', name='cellphone')
    .repairInput
      label 報修原因
      input(type='text', name='reason')
    .repairInput
      label 日期
      input(type='text', name='date')
    input(type='submit', value='Submit')
    input(type='reset', value='Clear')
