extends layout

block content
  h1= title
  p Welcome to #{title}
  p What is body #{body}
  p fuck it
  p damnit 

  ul
    li
      a(href="/repair/create") 新增維修記錄
    li
      a(href="/repair/list") 維修列表
