doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/screen.css')
    link(href="/stylesheets/print.css", media="print", rel="stylesheet", type="text/css")
  body
    block content
